<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Select a madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Select a Mad Lib!</h1>

    @* <form method="post">
      <label for="madlibs">Choose a madlib!:</label>
      <select id="madlibs">
        <option name="TeacherForm" a href="/TeacherForm">Teacher MadLib</option>
        <option name="teachermadlib" a href="/TeacherForm" action="teachermadlib">Teacher MadLib Blank</option>
      </select>
        <button type="submit">Go</button>
      </form> *@


    <h3><a href="/TeacherForm">Teacher Madlib</h3>

  </body>
</html>