<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Send a message to your teacher!</h1>
    <form action="/teachermadlib" method="post">
     <label for="teacherName">Teacher's Name</label>
     <input id="teacherName" name="teacherName" type="text">

     <label for="adjective">Adjective</label>
     <input id="adjective" name="adjective" type="text">

     <label  for="programmingLanguage">ProgrammingLanguage</label>
     <input id="programmingLanguage" name="programmingLanguage" type="text">

      <label for="adjective2">Adjective2 </label>
     <input id="adjective2" name="adjective2" type="text">
     
     <button type="submit">Go!</button>
    </form>
  </body>
</html>